  
/* FeedbackForm.css */

.feedback-form-container {
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 3px 3px 10px rgba(109, 113, 119, 0.751);
}

.form-title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #3a3838; /* Primary Color */
}
.form-title > hr{
  width:40px;
}

.feedback-form {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 17px;
  color: #3a3838;
}

.form-input,
.form-select,
.form-textarea,
.submit-btn {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 18px;
  color: #3a3838;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  transition: all 0.3s;
  box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751);
}

.form-select {
  appearance: none;
}

.form-textarea {
  resize: vertical;
}

.submit-btn {
  background-color: #22228f;
  width: 95%;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: transform background-color 0.3s ease;
  font-size: 18px;
}

.submit-btn:hover {
  background-color: #2f2fc4;
  transform: scale(1.08)
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .feedback-form-container {
    width: 90%;
    padding: 10px;
  }

  .feedback-form {
    padding: 15px;
  }

  .form-input,
  .form-select,
  .form-textarea,
  .submit-btn {
    padding: 8px;
  }
}
