* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: "Roboto", sans-serif; 
  } 
  .Dashcontainer{
    height: 100vh;
    transition: background-color 0.5s ease;
  }

  .Link{
    font-size: 18px;
    font-weight: 600;
    color: #3a3838;
    text-decoration: none;
  }
  .Link:hover{
    color: white;
  }
  /* ----------------------------Head Section--------------------- */
  .Header { 
    height: 70px; 
    width: 100vw; 
    padding: 0 30px; 
    background-color: #fff; 
    position: fixed; 
    z-index: 100; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751);
  } 
    
  .logo { 
    font-size: 27px; 
    font-weight: 600; 
    color: #3a3838; 
  } 
  .logo hr{
    background-color: #22228f;
    height: 3px;
    width: 45px;
  }
 
  .searchbar, 
  .message, 
  .logosec { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
  } 
    
  .searchbar2 { 
    display: none; 
  } 
    
  .logosec { 
    gap: 60px; 
  } 
  .icn{
    height: 30px;
    cursor: pointer; 
  }
    
  .searchbar input { 
    width: 290px; 
    height: 42px; 
    border-radius: 50px; 
    padding: 0 20px; 
    font-size: 16px; 
    border: 2px solid grey; 
    color: #464444;
  } 
  .searchbtn { 
    width: 50px; 
    height: 42px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 0px 50px 50px 0px;
    cursor: pointer; 
  } 
  .searchicn { 
    margin-left: -120px;
  } 
    
  .message { 
    gap: 40px; 
    position: relative; 
    cursor: pointer; 
  } 
  .circle { 
    height: 7px; 
    width: 7px; 
    position: absolute; 
    background-color: #fa7bb4; 
    border-radius: 50%; 
    left: 19px; 
    top: 8px; 
  } 
  .dp { 
    height: 40px; 
    width: 40px; 
    background-color: #626262; 
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    overflow: hidden; 
  } 
  .dpicn { 
    height: 42px; 
  } 
  /* --------------Main body Section-------------------------- */
  .main-container { 
    display: flex; 
    width: 100vw; 
    position: relative; 
    top: 70px; 
    z-index: 1; 
    background: #fff;
  } 
    
  .main { 
    height: calc(100vh - 70px); 
    width: 100%; 
    overflow-y: scroll; 
    overflow-x: hidden; 
    padding: 40px 30px 30px 30px; 
  } 
    
  .main::-webkit-scrollbar-thumb { 
    background-image:  
          linear-gradient(to bottom, rgb(0, 0, 85), rgb(0, 0, 50)); 
  } 
  .main::-webkit-scrollbar { 
    width: 5px; 
  } 
  .main::-webkit-scrollbar-track { 
    background-color: #9e9e9eb2; 
  } 
    
  .box-container { 
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
    flex-wrap: wrap; 
    gap: 50px; 
  } 
  /* -------------side bar---------- */
  .nav { 
    min-height: 91vh; 
    width: 250px; 
    background: #fff;
    position: absolute; 
    top: 0px; 
    left: 00; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    overflow: hidden; 
    padding: 30px 0 20px 10px; 
  } 
  .navcontainer { 
    height: calc(100vh - 70px); 
    width: 250px; 
    position: relative; 
    overflow-y: scroll; 
    overflow-x: hidden; 
    transition: all 0.5s ease-in-out; 
  } 
  .navcontainer::-webkit-scrollbar { 
    display: none; 
  } 
  .navclose { 
    width: 80px; 
  } 
  .nav-option { 
    width: 250px; 
    height: 60px; 
    display: flex;
    color: #3a3838; 
    align-items: center; 
    padding: 0 30px 0 20px; 
    box-shadow: 0 3px 10px rgba(0, 30, 87, 0.751);
    gap: 20px; 
    transition: all 0.1s ease-in-out; 
  } 
  .nav-option:hover { 
    border-left: 5px solid #6b6a6a; 
    background-color: #22228f;
    color: #fff; 
    cursor: pointer; 
  } 
  .nav-img { 
    height: 30px; 
    color: #22228f;
    background-color: white;
  } 
    
  .nav-upper-options { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 30px; 
  } 
    
  .option1 { 
    border-left: 5px solid #3f3f41af; 
    background-color: #22228f; 
    box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751);
    color: #fff; 
    cursor: pointer; 
  } 
  .option1:hover { 
    border-left: 5px solid #7c7b7b; 
    background-color: #2f2fc4; 
  } 

  /* --------------Boxes in main section-------------- */

  .box { 
    height: 130px; 
    width: 230px; 
    border-radius: 20px; 
    box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751); 
    padding: 20px; 
    display: flex; 
    align-items: center; 
    justify-content: space-around; 
    cursor: pointer; 
    transition: transform 0.3s ease-in-out; 
  } 

  .box:hover { 
    transform: scale(1.08); 
  } 
    
  .box img { 
    height: 50px; 
  } 

  .topic { 
    font-size: 13px; 
    font-weight: 600; 
    letter-spacing: 1px; 
  } 
    
  .topic-heading { 
    font-size: 30px; 
    letter-spacing: 3px; 
  } 
    /*-----------reports Data--------- */
  .report-container { 
    min-height: 300px; 
    max-width: 1200px; 
    margin: 70px auto 0px auto; 
    background-color: #ffffff; 
    border-radius: 30px; 
    box-shadow: 3px 3px 10px rgb(131, 130, 130); 
    padding: 0px 20px 20px 20px; 
  } 
  .report-header { 
    height: 80px; 
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 20px 20px 10px 20px; 
    border-bottom: 2px solid rgba(0, 20, 151, 0.59); 
  } 
    
  .recent-Articles { 
    font-size: 30px; 
    font-weight: 600; 
    color: #22228f; 
  } 
    
  .view { 
    height: 35px; 
    width: 90px; 
    border-radius: 8px; 
    background-color: #22228f; 
    color: white; 
    font-size: 15px; 
    border: none; 
    cursor: pointer; 
    box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751); 
  } 
  .view:hover{
    transform: scale(1.08);
  }
    
  .report-body { 
    max-width: 1110px; 
    overflow-x: auto; 
    padding: 20px; 
  } 
  .report-topic-heading, 
  .item1 { 
    width: 1080px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  } 
  .t-op { 
    font-size: 18px; 
    letter-spacing: 0px; 
    color: #313030;
  } 
    
  .items { 
    width: 1120px; 
    margin-top: 15px; 
  } 
    
  .item1 { 
    margin-top: 20px; 
  } 
  .t-op-nextlvl { 
    font-size: 15px; 
    letter-spacing: 0px; 
    font-weight: 600; 
    color: #3a3838;
  } 
    
  .label-tag { 
    width: 100px; 
    text-align: center; 
    background-color: #22228f; 
    padding: 3px;
    color: white; 
    border-radius: 4px; 
  }
  .label-tag:hover{
    cursor: pointer;
    background-color: #2f2fc4;
    transform: scale(1.08);
  }
  
  /* -------for responsive--------- */
  @media screen and (max-width: 950px) { 
      .nav-img { 
        height: 25px; 
      } 
      .nav-option { 
        gap: 30px; 
      } 
      .nav-option h3 { 
        font-size: 15px; 
      } 
      .report-topic-heading, 
      .item1, 
      .items { 
        width: 800px; 
      } 
    } 
      
    @media screen and (max-width: 850px) { 
      .nav-img { 
        height: 30px; 
      } 
      .nav-option { 
        gap: 30px; 
      } 
      .nav-option h3 { 
        font-size: 20px; 
      } 
      .report-topic-heading, 
      .item1, 
      .items { 
        width: 700px; 
      } 
      .navcontainer { 
        width: 100vw; 
        position: absolute; 
        transition: all 0.6s ease-in-out; 
        top: 0; 
        left: -100vw; 
      } 
      .nav { 
        width: 100%; 
        position: absolute; 
      } 
      .navclose { 
        left: 00px; 
      } 
      .searchbar { 
        display: none; 
      } 
      .main { 
        padding: 40px 30px 30px 30px; 
      } 
      .searchbar2 { 
        width: 100%; 
        display: flex; 
        margin: 0 0 40px 0; 
        justify-content: center; 
      } 
      .searchbar2 input { 
        width: 250px; 
        height: 42px; 
        border-radius: 50px 0 0 50px; 
        background-color: var(--background-color3); 
        padding: 0 20px; 
        font-size: 15px; 
        border: 2px solid var(--secondary-color); 
      } 
    } 
      
    @media screen and (max-width: 490px) { 
      .message { 
        display: none; 
      } 
      .logosec { 
        width: 100%; 
        justify-content: space-between; 
      } 
      .logo { 
        font-size: 20px; 
      } 
      .menuicn { 
        height: 25px; 
      } 
      .nav-img { 
        height: 25px; 
      } 
      .nav-option { 
        gap: 25px; 
      } 
      .nav-option h3 { 
        font-size: 12px; 
      } 
      .nav-upper-options { 
        gap: 15px; 
      } 
      .recent-Articles { 
        font-size: 20px; 
      } 
      .report-topic-heading, 
      .item1, 
      .items { 
        width: 550px; 
      } 
    } 
      
    @media screen and (max-width: 400px) { 
      .recent-Articles { 
        font-size: 17px; 
      } 
      .view { 
        width: 60px; 
        font-size: 10px; 
        height: 27px; 
      } 
      .report-header { 
        height: 60px; 
        padding: 10px 10px 5px 10px; 
      } 
      .searchbtn img { 
        height: 20px; 
      } 
    } 
      
    @media screen and (max-width: 320px) { 
      .recent-Articles { 
        font-size: 12px; 
      } 
      .view { 
        width: 50px; 
        font-size: 8px; 
        height: 27px; 
      } 
      .report-header { 
        height: 60px; 
        padding: 10px 5px 5px 5px; 
      } 
      .t-op { 
        font-size: 12px; 
      } 
      .t-op-nextlvl { 
        font-size: 10px; 
      } 
      .report-topic-heading, 
      .item1, 
      .items { 
        width: 300px; 
      } 
      .report-body { 
        padding: 10px; 
      } 
      .label-tag { 
        width: 70px; 
      } 
      .searchbtn { 
        width: 40px; 
      } 
      .searchbar2 input { 
        width: 180px; 
      } 
    }
