.forgot_page{
    background: #fff;
    height: 400px;
    width: 450px;
    align-items: center;
    margin: 90px auto;
    padding: 40px;
    box-shadow: 3px 3px 10px rgba(109, 113, 119, 0.751);
    font-family: "Roboto","sans,serif";
}
.forgot_page h2 > hr{
    width: 40px;
}
.forgot_page > form{
    margin: 40px auto;
}
.mail_inp{
    background: #fff;
    border-radius: 5px;
    border: 1px solid grey;
    color: #464444;
    font-size: 18px;
    height: 40px;
    width: 95%;
    outline: 0;
    padding: 0 17px;
    margin: 10px 0;
    transition: all 0.3s;
    box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751);
}

.mail_inp::placeholder {
    color: #504e4e;
    font-size: 19px;
}
.mail_inp:focus {
    background: #fff;
    border: 2px solid black;
}
.my_btn{
    margin: 20px auto;
}
.forgot_page >p {
    text-align:center;
    font-size: 13px;
    color: red;
}